<div class="row">
    <div class="col-md-12">
      <form action="./chat/" method="get" accept-charset="utf-8">
        <label>Name<input type="text" name="name"></label>
        <label>Room<input type="text" name="room"></label>
        <input type="submit" value="submit">
      </form>
    </div>

</div>
